@import "../vars";

body.page-home {
	#site-main {
		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;

			@include mobile {
				flex-direction: column;
				gap: 15px;

				.ant-btn {
					width: 100%;
				}
			}

			h1 {
				font-size: 28px;
				font-weight: 700;
				margin-bottom: 0;

				@include mobile {
					font-size: 26px;
				}
			}
		}

		.orders-container {
			margin-top: 30px;
		}
	}
}